*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gloria Hallelujah', cursive;
}

body{
    font-size: 16px;
    font-family: 'Gloria Hallelujah', cursive;
}

main{
    
    height: 70vh;
    text-align: center;
    margin: 100px 20px;
}

.wrapper{
    height: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.section-input{
    padding: 20px 0;
}

#description, 
#amount {
    width: 250px;
    padding: 4px 0;
    outline: none;
    border-radius: 5px;
    font-size: 90%;
    outline: none;
}

.btn-add{
    padding: 2px 45px;
    border-radius: 50px;
    outline: none;
}

.transaction-section{
    border: 2px solid purple;
    padding: 5px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.income-box,
.expense-box{
    flex: 1;
    border: 2px solid white;
    min-height: 400px;
    background: rgba(156, 189, 67, 0.637);


}

.section-balance{
    height: 70px;
    border: 2px solid maroon;
    margin: 5px auto;
}

.incomes{
    display: flex;
    justify-content: space-between;
}